html, body{
	font-family: sans-serif;
}
/*******************************************************************************
Inspector
*******************************************************************************/
/*Pan*/
#rngPanInspct{
	top:  18px;
	left:  7px;
	width:84px;
}
#spnLTagInspct, #spnRTagInspct{
	top:34px;
}
/*Gain*/
#spnGainTagInspct{
	top:70px;
}
#rngGainInspct{
	top:  140px;
	left:   0px;
	width:114px;
}
#spnMinTagInspct, #spnMaxTagInspct{
	left:25px;
}
#spnMaxTagInspct{
	top:89px;
}
#spnMinTagInspct{
	top:190px;
}
/*Automation*/
#spnAmTagInspct{
	top:266px;
}
/*Effect*/
#spnFxTagInspct{
	top:335px;
}


/*******************************************************************************
Mixer
*******************************************************************************/
/*++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
Position Mix Ch.select
++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
/*Tag, All on / off ----------------------------------------------------------*/
#spnIcnSelctTag{
	top: 4px;
	left:4px;
}
/* All On/Off, Part A, B and C -----------------------------------------------*/
#spnAllOnOffIcnTag, #spnPartIcnTag{
	top:28px;
}
#spnAllOnOffIcnTag{
	left:4px;
}
/*++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
Part Ch.
++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
.mixPan{
	top: 2px;
	left:7px;
}
.mixGain{
	top: 78px;
	left:15px;
}
.btnMixPanC, .mixMute, .mixSolo, .mixRecAM, .mixPlayAM, .mixEffect{
	left:10px;
}
.mixIcon{
	left:24px;
}
/*++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
Output Ch
++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
#outputPan{
	top:  2px;
	left: 7px;
}
#outputGain{
	top: 78px;
	left:15px;
}
.btnOutput{
	left:10px;
}
#outputIcon{
	left:24px;
}


/*******************************************************************************
FX(Effect)
*******************************************************************************/
/*++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
Part Ch / OUTPUT Select
++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
#spnSelectCh{
	left:4px;
}
#selectFxCh{
	left:   2px;
	width:123px;
}
#rngPanFX{
	left:19px;
}
#rngGainFX{
	left:30px;
}
/*++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
Dialog(Routing)
++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
#spnEqRtTag{
	left:102px;
}
#spnCompRtTag{
	left:75px;
}


/*******************************************************************************
EQ
*******************************************************************************/
/*++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
EQ parameter
++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
/* Filter Type ---------------------------------------------------------------*/
#filterType{
	top: 95px;
	left: 1px;
}