html, body{
	-webkit-user-select: none;
}

/*******************************************************************************
Inspector
*******************************************************************************/
/*Pan*/
#rngPanInspct{
	top: 17px;
	left: 8px;
	width: 84px;
}
#spnLTagInspct, #spnRTagInspct{
	top: 38px;
}
/*Gain*/
#spnGainTagInspct{
	top: 70px;
}
#rngGainInspct{
	top:   138px;
	left:  8px;
	width: 113px;
}
#spnMinTagInspct, #spnMaxTagInspct{
	left:  24px;
	height:20px;
}
#spnMaxTagInspct{
	top:89px;
}
#spnMinTagInspct{
	top:192px;
}


/*******************************************************************************
Track
*******************************************************************************/
/*++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
Track Ch
++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
/* <td> for Automation  ------------------------------------------------------*/
/* Automation Type */
.slctAmType{
	top:     1px;
}


/*******************************************************************************
Mixer
*******************************************************************************/
/*++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
Position Mix Ch.select
++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
/*Tag, All on / off ----------------------------------------------------------*/
#spnIcnSelctTag{
	top:  4px;
	left: 4px;
}
/* All On/Off, Part A, B and C -----------------------------------------------*/
#spnAllOnOffIcnTag,#spnPartIcnTag{
	top: 28px;
}
#spnAllOnOffIcnTag{
	left: 4px;
}
/*++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
Part Ch.
++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
.mixPan{
	top:  0px;
	left: 8px;
}
.mixGain{
	left:  15px;
}
.btnMixPanC, .mixMute, .mixSolo, .mixRecAM, .mixPlayAM, .mixEffect{
	left:  10px;
	height:16px;
}
.btnMixPanC{
	top: 25px;
}
.mixMute{
	top: 48px;
}
.mixSolo{
	top: 71px;
}
.mixRecAM{
	top: 93px;
}
.mixPlayAM{
	top:115px;
}
.mixEffect{
	top:137px;
}
.mixIcon{
	left:24px;
}
/*++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
Output Ch
++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
#outputPan{
	top: 0px;
	left:8px;
}
#outputGain{
	left:  15px;
}
.btnOutput{
	left:   10px;
	height: 16px;
}
#btnOutputPanC{
	top: 25px;
}
#btnOutputMute{
	top: 48px;
}
#btnOutputEffect{
	top: 137px;
}
#outputIcon{
	left: 24px;
}


/*******************************************************************************
FX(Effect)
*******************************************************************************/
/*++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
Part Ch / OUTPUT Select
+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
#spnSelectCh{
	top: 2px;
	left:4px;
}
#selectFxCh{
	left:   3px;
	width:123px;
}
#rngPanFX{
	left: 19px;
}
#rngGainFX{
	top: 145px;
	left: 28px;
}
/*++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
Dialog(Routing)
++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
#spnEqRtTag{
	left: 98px;
	width:80px;
}
#spnCompRtTag{
	left: 70px;
	width:85px;
}