@charset "UTF-8";

/*++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
style input type range in Chrome and  Firefox
++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
input[type=range]{
	border: 1px solid gray;
}
/*==============================================================================
for Firefox
==============================================================================*/
input[type=range]::-moz-range-track{
	background: darkgray;
	border-radius: 3px;
}
input[type=range]::-moz-range-thumb{
	background-color: white;
	border: none;
}
input[type=range]::-moz-focusring{
	outline: 1px solid gray;
}
input[type=range]:focus::-moz-range-track{
	background: lightgray;
}


/*******************************************************************************
Inspector
*******************************************************************************/
/*Pan*/
#rngPanInspct{
	top: 16px;
	left: -3px;
}
/*Gain*/
#spnGainTagInspct{
	top: 66px;
	left: 0px;
	width: 100px;
}
#rngGainInspct{
	top:   138px;
	left:  0px;
}
#spnMinTagInspct, #spnMaxTagInspct{
	left: 28px;
}
#spnMaxTagInspct{
	top:89px;
}
#spnMinTagInspct{
	top:189px;
}
#imgIcnInspct{
	left: 27px;
}


/*******************************************************************************
Track
*******************************************************************************/
/*++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
Track Ch
++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
/* <td> for Automation  ------------------------------------------------------*/
/* Automation Type */
.slctAmType{
	top: 1px;
}


/*******************************************************************************
Mixer
*******************************************************************************/
/*++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
Position Mix Ch.select
++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
/*Tag, All on / off ----------------------------------------------------------*/
#spnIcnSelctTag{
	top:  4px;
	left: 4px;
}
/* All On/Off, Part A, B and C -----------------------------------------------*/
#spnAllOnOffIcnTag, #spnPartIcnTag{
	top: 28px;
}
#spnAllOnOffIcnTag{
	left: 4px;
}
/*++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
Part Ch.
++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
.mixPan{
	left: -3px;
}
.mixGain{
	left: 13px;
}
.btnMixPanC, .mixMute, .mixSolo, .mixRecAM, .mixPlayAM, .mixEffect{
	left: 10px;
}
.mixIcon{
	left:24px;
}
/*++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
Output Ch
++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
#outputPan{
	left:-3px;
}
#outputGain{
	left:  13px;
}
.btnOutput{
	left:   10px;
}
#outputIcon{
	left: 24px;
}


/*******************************************************************************
FX(Effect)
*******************************************************************************/
/*++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
Part Ch / OUTPUT Select
++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
#spnSelectCh{
	top: 3px;
	left:3px;
}
#selectFxCh{
	left:   2px;
	width:123px;
}
#rngPanFX{
	left: 11px;
}
#rngGainFX{
	left:  28px;
}
/*++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
Dialog(Routing)
++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
#spnEqRtTag{
	left: 99px;
	width:85px;
}
#spnCompRtTag{
	left: 71px;
	width:88px;
}


/*******************************************************************************
EQ
*******************************************************************************/
/*++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
EQ parameter
++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
/* Filter Type ---------------------------------------------------------------*/
#filterType{
	top: 98px;
}